// Fonts
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}
// Styles
@import './variables';
@import './container';
@import './utils';
@import './buttons';
@import './bg-colors';

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}